<a href="https://colab.research.google.com/github/sonukarn21/ML-PROJECT/blob/master/Melbourne_Housing_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Importing the dataset from the personal drive***
 dealing with missing values. Then you'll compare the effectiveness of these approaches on a real-world dataset.

In [ ]:
import pandas as pd
data= pd.read_csv("/content/melb_data.csv")

In [ ]:
data.head(5)

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [ ]:
y=data.Price
y.head(5)

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

To keep things simple , i ll use numerical predictator

In [ ]:
malborn_predictors= data.drop(['Price'], axis=1)
malborn_predictors
X=malborn_predictors.select_dtypes(exclude=['object'])
X

       Rooms  Distance  Postcode  ...  Lattitude  Longtitude  Propertycount
0          2       2.5    3067.0  ...  -37.79960   144.99840         4019.0
1          2       2.5    3067.0  ...  -37.80790   144.99340         4019.0
2          3       2.5    3067.0  ...  -37.80930   144.99440         4019.0
3          3       2.5    3067.0  ...  -37.79690   144.99690         4019.0
4          4       2.5    3067.0  ...  -37.80720   144.99410         4019.0
...      ...       ...       ...  ...        ...         ...            ...
13575      4      16.7    3150.0  ...  -37.90562   145.16761         7392.0
13576      3       6.8    3016.0  ...  -37.85927   144.87904         6380.0
13577      3       6.8    3016.0  ...  -37.85274   144.88738         6380.0
13578      4       6.8    3016.0  ...  -37.85908   144.89299         6380.0
13579      4       6.3    3013.0  ...  -37.81188   144.88449         6543.0

[13580 rows x 12 columns]

divide data into training and testing subset

In [ ]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y=train_test_split(X,y,train_size=0.8, test_size=0.2, random_state=0)
print("train_X \n", train_X, end='\n')
print("test_X \n", test_X, end='\n')

train_X
        Rooms  Distance  Postcode  ...  Lattitude  Longtitude  Propertycount
12167      1       5.0    3182.0  ...  -37.85984   144.98670        13240.0
6524       2       8.0    3016.0  ...  -37.85800   144.90050         6380.0
8413       3      12.6    3020.0  ...  -37.79880   144.82200         3755.0
2919       3      13.0    3046.0  ...  -37.70830   144.91580         8870.0
6043       3      13.3    3020.0  ...  -37.76230   144.82720         4217.0
...      ...       ...       ...  ...        ...         ...            ...
13123      3       5.2    3056.0  ...  -37.77695   144.95785        11918.0
3264       3      10.5    3081.0  ...  -37.74160   145.04810         2947.0
9845       4       6.7    3058.0  ...  -37.73572   144.97256        11204.0
10799      3      12.0    3073.0  ...  -37.72057   145.02615        21650.0
2732       4       6.4    3011.0  ...  -37.79430   144.88750         7570.0

[10864 rows x 12 columns]
test_X
        Rooms  Distance  Postcode  ...  Lattitude  Longtitude  Propertycount
8505       4       8.0    3016.0  ...  -37.86100   144.89850         6380.0
5523       2       6.6    3011.0  ...  -37.81000   144.88960         2417.0
12852      3      10.5    3020.0  ...  -37.76740   144.82421         4217.0
4818       3       4.5    3181.0  ...  -37.85260   145.00710         7717.0
12812      3       8.5    3044.0  ...  -37.72523   144.94567         7485.0
...      ...       ...       ...  ...        ...         ...            ...
2664       2       6.4    3011.0  ...  -37.80140   144.89590         7570.0
8513       4       8.0    3016.0  ...  -37.85790   144.87860         6380.0
12922      3      10.8    3105.0  ...  -37.78094   145.10131         4480.0
10761      4       6.2    3039.0  ...  -37.76421   144.90571         6232.0
2110       2       1.6    3066.0  ...  -37.79620   144.98870         4553.0

[2716 rows x 12 columns]

Define Function to Measure Quality of Each Approach

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
# Function for comparing different approaches
def secore_dataset(train_X, test_X, train_y,test_y):
  model = RandomForestRegressor(n_estimators=10, random_state=0)
  model.fit(train_X,train_y)
  preds=model.predict(test_X)
  return mean_absolute_error(test_y,preds)
print("setup completed")

setup completed

In [ ]:
#select the column which have missing value
# Get names of columns with missing values
cols_with_missing = [col for col in train_X.columns
                     if train_X[col].isnull().any()]
cols_with_missing
#drop column from training and testing data
reduce_train_X=train_X.drop(cols_with_missing, axis=1)
reduce_test_X=test_X.drop(cols_with_missing, axis=1)
print(reduce_train_X)
print(reduce_test_X)

       Rooms  Distance  Postcode  ...  Lattitude  Longtitude  Propertycount
12167      1       5.0    3182.0  ...  -37.85984   144.98670        13240.0
6524       2       8.0    3016.0  ...  -37.85800   144.90050         6380.0
8413       3      12.6    3020.0  ...  -37.79880   144.82200         3755.0
2919       3      13.0    3046.0  ...  -37.70830   144.91580         8870.0
6043       3      13.3    3020.0  ...  -37.76230   144.82720         4217.0
...      ...       ...       ...  ...        ...         ...            ...
13123      3       5.2    3056.0  ...  -37.77695   144.95785        11918.0
3264       3      10.5    3081.0  ...  -37.74160   145.04810         2947.0
9845       4       6.7    3058.0  ...  -37.73572   144.97256        11204.0
10799      3      12.0    3073.0  ...  -37.72057   145.02615        21650.0
2732       4       6.4    3011.0  ...  -37.79430   144.88750         7570.0

[10864 rows x 9 columns]
       Rooms  Distance  Postcode  ...  Lattitude  Longtitude  Propertycount
8505       4       8.0    3016.0  ...  -37.86100   144.89850         6380.0
5523       2       6.6    3011.0  ...  -37.81000   144.88960         2417.0
12852      3      10.5    3020.0  ...  -37.76740   144.82421         4217.0
4818       3       4.5    3181.0  ...  -37.85260   145.00710         7717.0
12812      3       8.5    3044.0  ...  -37.72523   144.94567         7485.0
...      ...       ...       ...  ...        ...         ...            ...
2664       2       6.4    3011.0  ...  -37.80140   144.89590         7570.0
8513       4       8.0    3016.0  ...  -37.85790   144.87860         6380.0
12922      3      10.8    3105.0  ...  -37.78094   145.10131         4480.0
10761      4       6.2    3039.0  ...  -37.76421   144.90571         6232.0
2110       2       1.6    3066.0  ...  -37.79620   144.98870         4553.0

[2716 rows x 9 columns]

In [ ]:
print("MAE without  missing value column")
print (secore_dataset(reduce_train_X,reduce_test_X,train_y,test_y))

MAE without  missing value column
183550.22137772635

In [ ]:
from sklearn.impute import SimpleImputer
my_imputer= SimpleImputer()#we use SimpleImputer to replace missing values with the mean value along each column.
imp_train_X=pd.DataFrame(my_imputer.fit_transform(train_X))#we use SimpleImputer to replace missing values with the mean value along each column.
imp_test_X=pd.DataFrame(my_imputer.transform(test_X))#we use SimpleImputer to replace missing values with the mean value along each column.
print(imp_train_X)
print(imp_test_X)

        0     1       2    3   ...           8         9          10       11
0      1.0   5.0  3182.0  1.0  ...  1940.000000 -37.85984  144.98670  13240.0
1      2.0   8.0  3016.0  2.0  ...  1964.839866 -37.85800  144.90050   6380.0
2      3.0  12.6  3020.0  3.0  ...  1964.839866 -37.79880  144.82200   3755.0
3      3.0  13.0  3046.0  3.0  ...  1995.000000 -37.70830  144.91580   8870.0
4      3.0  13.3  3020.0  3.0  ...  1970.000000 -37.76230  144.82720   4217.0
...    ...   ...     ...  ...  ...          ...       ...        ...      ...
10859  3.0   5.2  3056.0  3.0  ...  1964.839866 -37.77695  144.95785  11918.0
10860  3.0  10.5  3081.0  3.0  ...  1950.000000 -37.74160  145.04810   2947.0
10861  4.0   6.7  3058.0  4.0  ...  2002.000000 -37.73572  144.97256  11204.0
10862  3.0  12.0  3073.0  3.0  ...  1964.839866 -37.72057  145.02615  21650.0
10863  4.0   6.4  3011.0  4.0  ...  1915.000000 -37.79430  144.88750   7570.0

[10864 rows x 12 columns]
       0     1       2    3   ...           8         9          10      11
0     4.0   8.0  3016.0  4.0  ...  1910.000000 -37.86100  144.89850  6380.0
1     2.0   6.6  3011.0  2.0  ...  1900.000000 -37.81000  144.88960  2417.0
2     3.0  10.5  3020.0  3.0  ...  1964.839866 -37.76740  144.82421  4217.0
3     3.0   4.5  3181.0  2.0  ...  2000.000000 -37.85260  145.00710  7717.0
4     3.0   8.5  3044.0  3.0  ...  1964.839866 -37.72523  144.94567  7485.0
...   ...   ...     ...  ...  ...          ...       ...        ...     ...
2711  2.0   6.4  3011.0  2.0  ...  2013.000000 -37.80140  144.89590  7570.0
2712  4.0   8.0  3016.0  4.0  ...  1964.839866 -37.85790  144.87860  6380.0
2713  3.0  10.8  3105.0  3.0  ...  1964.839866 -37.78094  145.10131  4480.0
2714  4.0   6.2  3039.0  4.0  ...  1925.000000 -37.76421  144.90571  6232.0
2715  2.0   1.6  3066.0  2.0  ...  1880.000000 -37.79620  144.98870  4553.0

[2716 rows x 12 columns]

In [ ]:
imp_train_X.columns=train_X.columns
imp_test_X.columns=test_X.columns
#print(imp_train_X)
#print(imp_test_X)

In [ ]:
print("MAE after applying imputation function")
print(secore_dataset(imp_train_X,imp_test_X,train_y, test_y))

MAE after applying imputation function
178166.46269899711

In [ ]:
print(train_X.shape)
#Number of missing values in each column of training data
missing_val_count_by_column = (train_X.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

(10864, 12)
Car               49
BuildingArea    5156
YearBuilt       4307
dtype: int64